{% extends "base_menu.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'panel/style.css' %}">
<h1>Transactions</h1>
<small>
  {{invoice.name}}
</small>

{% comment %} <div style="float:right">
<!-- https://www.w3schools.com/howto/howto_css_search_button.asp -->
<form>
  <input type="text" placeholder="Search.." name="search"
  {% if search %} value="{{ search }}" {% endif %}
  >
  <button type="submit"><i class="fa fa-search"></i></button>
<a href="{% url 'ads:all' %}"><i class="fa fa-undo"></i></a>
</form>
</div> {% endcomment %}

<p>
{% if transactions %}
<ul>
  <div class="card card-1">
  {% for transaction in transactions %}
  {% if transaction.owner == user %}
    <li>
        
        <h6>{{ transaction.name }}</h6>
        
        (<a href="#">Edit</a> |
        <a href="#">Delete</a>)
        
        {% comment %} {% if user.is_authenticated %}
        
        {% endif %} {% endcomment %}
        
        <small>
        {% if transaction.owner.username %}
            Created by {{ transaction.owner.username }}
        {% endif %}
        {{ transaction.natural_updated }}
        </small>
        <br>
        <p>Price : {{ transaction.price }} Toman</p>
        <p>Payer : {{ transaction.payer }}</p>
        <small>
            Create at {{ transaction.created_at }}
        </small>
        <br>
        <br>
        <br> 
        
    </li>
  {% endif %}
  {% endfor %}
  </div>
</ul>
{% else %}
  <p>You have not entered any transactions.</p>
{% endif %}
</p>
<p>
{% if user.is_authenticated %}
<a href="{% url 'panel:action_create pk=invoice.id' %}">Add an Transactions</a> | 
{% endif %}
</p> 

{% endblock %}