{% extends "base_menu.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'panel/style.css' %}">
<style>
  body {
    background-color: #fff;
  }
</style>
<h1 style="text-align:left;">Transactions</h1>
<h4 style="text-align:left;">
 Invoice > {{invoice.name}}
</h4>

{% comment %} <div style="float:right">
<!-- https://www.w3schools.com/howto/howto_css_search_button.asp -->
<form>
  <input type="text" placeholder="Search.." name="search"
  {% if search %} value="{{ search }}" {% endif %}
  >
  <button type="submit"><i class="fa fa-search"></i></button>
<a href="{% url 'ads:all' %}"><i class="fa fa-undo"></i></a>
</form>
</div> {% endcomment %}


{% if transactions %}

<div class="flex-container">
  {% for transaction in transactions %}
  {% if transaction.owner == user %}

  <div class="card card-1" style="height: 222px;">
   
        
        <h6>{{ transaction.name }}</h6>   
        <br>
        <p>Price : {{ transaction.price }} Toman</p>
        <p>Payer : {{ transaction.payer }}</p>
        <small>
            Created by {{ transaction.owner.username }}<br>
            Create at {{ transaction.created_at }}
        </small>
        <br>
        <small>
        {% if transaction.owner.username %}
            
        {% endif %}
        </small>
        <br>
        (<a href="{% url 'panel:action_update' pk=transaction.id %}">Edit</a> |
        <a href="{% url 'panel:action_delete' pk=transaction.id %}">Delete</a>)
        
  </div>

{% endif %}
{% endfor %}
</div>
  


{% else %}
  <p>You have not entered any transactions.</p>
{% endif %}

<p>
{% if user.is_authenticated %}
<a href="{% url 'panel:action_create' pk=invoice.id %}">Add an Transactions</a> | 
{% endif %}
</p> 

{% endblock %}